body {
    background-color: #121112;
}

#ghoul {
    opacity: 0.069;
    margin-top: 69px;
    position: fixed;
    top: 10px;
    right: 25px;
    width: 30%;
}


  h1 {
      font-family: 'Roboto Mono', monospace;
      color: #df6cc9;
      text-align: left;
      opacity: 0.5;
  }

  h2 {
    font-family: 'Roboto Mono', monospace;
    color: #df6cc9;
    text-align: left;
    opacity: 0.5;
}

#text {
    font-family: 'Roboto Mono', monospace;
      color: #df6cc9;
      opacity: 0.5;
}