body {
    background-color: #121112;
}

div {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 16px;
    padding-right: 1px;
}

#ghoul {
    opacity: 0.069;
    margin-top: 42px;
    margin-right: 42px;
    position: fixed;
    top: 10px;
    right: 15px;
    width: 42%;
}

#moon {
    opacity: 0.69;
    margin-top: 42px;
    margin-right: 42px;
    position: fixed;
    top: 10px;
    right: 15px;
    width: 42%;
}

#moontext {
    padding-right: 50%;
    font-family: 'Roboto Mono', monospace;
    color: #df6cc9;
    opacity: 0.69;
}

#slow {
    opacity: 0.69;
    max-width: 69px;
}

footer {
    padding-left: 42px;
    padding-top: 42px;
    padding-bottom: 20px;
}

#mb-foot {
    font-family: 'Roboto Mono', monospace;
    color: #df6cc9;
    opacity: 0.69;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: #df6cc9;
    text-align: left;
    opacity: 0.69;
  }

h2 {
    font-family: 'Roboto Mono', monospace;
    color: #df6cc9;
    text-align: left;
    opacity: 0.69;
}

#text {
    font-family: 'Roboto Mono', monospace;
    color: #df6cc9;
    opacity: 0.69;
}

a:link {
    color: #df6cc9;
    opacity: 0.93;
}

a:visited {
    color: #ffeeff;
}

a:hover {
    color: #df6cc9;
    opacity: 0.42;
}

a:active {
    color: #df6cc9;
}