body {
    background-color: rgb(22, 22, 22);
}

div {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 16px;
    padding-right: 1px;
}

#gods {
    position: fixed;
}

#godstext {
    font-family: 'Roboto Mono', monospace;
    color: #ddbcd7;
    opacity: 0.93;
}

a:link {
    color: #df6cc9;
    opacity: 0.93;
}

a:visited {
    color: #ffeeff;
}

a:hover {
    color: #df6cc9;
    opacity: 0.42;
}

a:active {
    color: #df6cc9;
}