body {
    background-color: #15171f;
}

div {
    padding-left: 42px;
    padding-top: 10px;
    padding-bottom: 16px;
    padding-right: 1px;
}

#resist {
    opacity: 0.69;
    margin-top: 42px;
    margin-right: 69px;
    position: fixed;
    top: 10px;
    right: 15px;
    width: 42%;
}

#node {
    font-family: 'Roboto Mono', monospace;
    color: #651ec6;
    text-align: left;
    opacity: 0.93;
}

footer {
    padding-left: 42px;
    padding-top: 42px;
    padding-bottom: 20px;
}

a:link {
    color: #718ed4;
}

a:visited {
    color: #ffeeff;
}

a:hover {
    color: #aa78bf;
    opacity: 0.42;
}

a:active {
    color: #718ed4;
    opacity: 0.93;
}