body {
    background-color: #030614;
}

div {
    padding-left: 42px;
    padding-top: 10px;
    padding-bottom: 16px;
    padding-right: 1px;
}

#yw {
    opacity: 0.69;
    margin-top: 42px;
    margin-right: 93px;
    position: fixed;
    top: 10px;
    right: 15px;
    width: 42%;
}

#war {
    font-family: 'Roboto Mono', monospace;
    color: #c31713;
    text-align: left;
    opacity: 0.93;
}

a:link {
    color: #3053c9;
}

a:visited {
    color: #fefeff;
}

a:hover {
    color: #a41714;
    opacity: 0.42;
}

a:active {
    color: #3053c9;
    opacity: 0.93;
}

footer {
    padding-left: 42px;
    padding-top: 42px;
    padding-bottom: 20px;
}