body, html {
    height: 100%;
    background-color: #001b38;
  }

.death {
    background-image: url("../images/battlefieldaftermath.jpeg");
  
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.war {
    display: flex;
    justify-content: center;
    align-items: center;
  }

audio { 
    width: 600px; 
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
    border-radius: 90px;
    transform: scale(1.05);
    margin-top: 5%;
  }